<div style="margin-right: 70px;margin-left: 90px">

<nav (showUserDetail)="redirectPage();" class="navbar navbar-expand-sm " style="background-color:orange;">
  <a class="navbar-brand" href="#">
    <img src="../../assets/images/icon.jpg" alt="Logo" style="width:26px; margin-left:3px">
  </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home">NCNews</a>
    </li>
    <li class="nav-item" *ngIf="hideData">
      <a class="nav-link"  (click)="newLink()">New</a>
    </li>
    <li *ngIf="showData" class="nav-item pull-right">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li *ngIf="showData" class="nav-item ">
      <a class="nav-link" routerLink="/signup">SignUp</a>
    </li>
    <li *ngIf="hideData" class="nav-item pull-right">
      <a class="nav-link" >Hi,{{userName}}</a>
    </li>
    <li *ngIf="hideData" class="nav-item ">
      <a class="nav-link" (click)="logOut()">Logout</a>
    </li>
  </ul>
</nav>
  </div>
