<app-header></app-header>
<div class="col-md-12 col-md-offset-12 sign">
  <form class="signup">
    <div class="col-12">

      <div class="row form-group">
        <label >Mobile</label><span style="color: red">*</span>
        <input  type="text" placeholder="Enter mobile no" id="mobile" name="mobile" [(ngModel)]="mobile" class="form-control" required>
      </div>
      <div class="row form-group">
        <label >Password</label><span style="color: red">*</span>
        <input class="form-control" id ="pass" type="password" placeholder="Enter Password" name="pass" [(ngModel)]="pass" required>
        <p style="text-decoration-color: red">{{loginError}}</p>
      </div>

      <div class="row pt-4 btnm">
        <button (click)="submit()">Login</button>
        <button class="ml-2" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>
