<app-header></app-header>
<div class="col-md-12 col-md-offset-12 sign">
  <form class="signup">
    <div class="col-12">
      <div class="row">
        <label >Name</label>
        <input  type="text" placeholder="Enter name" id="name" name="name" [(ngModel)]="name" class="form-control" required>
      </div>

      <div class="row form-group">
        <label >Mobile</label>
        <input  type="text" placeholder="Enter mobile no" id="mobile" name="mobile" [(ngModel)]="mobile" class="form-control" required>
      </div>
      <div class="row form-group">
        <label >Password</label>
        <input  type="password" placeholder="Enter password" id="password" name="password" [(ngModel)]="password" class="form-control" required>
      </div>
      <div class="row pt-4 btnm">
        <button (click)="signup()">SignUp</button>
        <button class="ml-2" (click)="cancel()" >Cancel</button>
      </div>
    </div>
  </form>
</div>
