


/*form style*/
/*.login {
  border: Solid Blue;
  margin-left:10%;
  margin-right: 60%;
  padding: 1%;
  !*	padding: auto;
      margin: auto;*!
  background-color: orange;
}*/

.signup {
  margin-left:10%;
  margin-right: 60%;
  padding: 1%;
  /*	padding: auto;
      margin: auto;*/
  background-color: orange;
}
.sign{
  margin-top: 70px;
  margin-left: 26%;
}
.btnm{
  margin-left: 30%;
}
