<app-header (myEvent)="Addnew()"></app-header>
<div style="margin-right: 70px;margin-left: 90px;background-color: lightgray;" [hidden]="listNews">
  <table >
    <tr *ngFor="let news of listOfNews;let i=index" style="border-color: darkcyan">
      <p>{{i+1}}.
        <i   [hidden]="news.likeFlag" class="fa fa-thumbs-up" style="background-color: deepskyblue" (click)="likeNews(i)"></i>
        <i  *ngIf="news.likeFlag==true" class="fa fa-thumbs-down" style="background-color: deepskyblue" (click)="UnlikeNews(i)"></i>
        <b>{{news.title}}</b>
      </p>
    </tr>
  </table>
  <button *ngIf="isMoreList==true">loadMore</button>
</div>

<div  style="margin-right: 70px;margin-left: 90px;background-color: lightgray;" [hidden]="addNew">
  <form >
    <div class="col-12">
      <div class="row-8">
        <label >Title</label>
        <textarea  type="text" rows="4" id="title" name="title"  class="form-control" [(ngModel)]="title" required [disabled]="hideTitle">{{title}}</textarea>
      </div>

      <div class="row-8 form-group">
        <label >Url</label>
        <input  type="text" placeholder="Enter Url" id="url" name="url" class="form-control" [(ngModel)]="url" required>
        <label >if we will get the meta-info automatically no need to fill th text</label>
        <button (click)="getUrlDetails()" style="margin-left: 40%;">GetDetails</button>
      </div>
      <div class="row-8 form-group" [hidden]="checkurl">
        <label >Text</label>
        <textarea  type="text" rows="4" id="text" name="text"  class="form-control" required>{{text}}</textarea>
      </div>
      <div class="row pt-4 btnm">
        <button  style="margin-left: 40%;" [disabled]="" (click)=" AddNews()">AddNews</button>
        <button class="ml-2" (click)="cancel()" >Cancel</button>
      </div>
    </div>
  </form>
</div>

